.albumlist
  a(href="../another-fields/")
    img(src="../another-fields/jacket.png")
    span another-fields
  a(href="../blue-fantasy/")
    img(src="../blue-fantasy/jacket.png")
    span blue-fantasy
  a(href="../green-of-mana/")
    img(src="../green-of-mana/jacket.png")
    span green-of-mana
  a(href="../midnight-celebration/")
    img(src="../midnight-celebration/jacket.png")
    span midnight-celebration
  a(href="../silver-forest/")
    img(src="../silver-forest/jacket.png")
    span silver-forest
  a(href="../sealed-story/")
    img(src="../sealed-story/jacket.png")
    span sealed-story
  a(href="../wild-neverland/")
    img(src="../wild-neverland/jacket.png")
    span wild-neverland
